#!/bin/bash -e
# {{ ansible_managed }}
# Date: {{ ansible_date_time.iso8601 }}

################################################################################
# CONFIGURATION
################################################################################
BACKUP_DIR={{ consul_backup_directory }}
S3_BUCKET={{ consul_backup_s3_bucket }}
INSTANCE_ID=$(wget -q -O - http://169.254.169.254/latest/meta-data/instance-id)
S3_BUCKET_PREFIX=$INSTANCE_ID/
DATE=$(/bin/date "+%Y.%m.%d")
TIMESTAMP=$(/bin/date "+%Y.%m.%d-H%H")
FOLDER="$BACKUP_DIR/$DATE"
FILENAME="consul-snapshot-$TIMESTAMP-$INSTANCE_ID.bin"
DEST_KEY="${DATE}/${FILENAME}"

if [[ -f /etc/consul-backup ]] ; then
    source /etc/consul-backup
fi

################################################################################
# BACKUP
################################################################################
mkdir -p $FOLDER
/usr/local/bin/consul snapshot save "$FOLDER/$FILENAME"

################################################################################
# MOVE BACKUP TO S3
################################################################################
/usr/local/bin/aws s3 mv "$FOLDER/$FILENAME" "s3://${S3_BUCKET}/${S3_BUCKET_PREFIX}${DEST_KEY}"

exit 0

