{
    "allow_user_certificates": true,
    "allowed_users": "*",
    "default_extensions": [{
        "permit-pty": ""
    }],
    "key_type": "ca",
    "default_user": "ec2-user",
    "ttl": "{{ item.value.ttl }}"
}
